header {
  display: inline;
}
button {
  height: 30px;
}
.left {
  float: left;
}
.center {
  text-align: center;
}
.right {
  float: right;
}
h1 {
  text-align: center;
  font-size: 45px;
}
.recipes {
  float: center;
  width: 100%;
  padding: 5px;
}
.recipe {
  width: 15%;
  margin-left: 0.9%;
}
.categories {
  display: inline-block;
}
.categories a {
  display: inline-block;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0px;
  font-size: 15px;
}
footer {
  padding: 10px;
  width: 100%;
  text-align: center;
}
a {
  font-size: 20px;
  color: black;
  margin: 5%;
}
body {
  margin: 10px 75px;
  background-color: rgb(247, 247, 247);
}
.content {
  margin: 5px 30px;
}
input {
  width: 600px;
  height: 28px;
}
.ing {
  float: left;
  padding-right: 30px;
}
.video {
  float: right;
  margin-top: 60px;
}
.prep {
  padding-top: 1px;
  padding-right: 30px;
  margin-right: 45%;
}
